.card {
    width: 100%;
    margin: 0 auto;
    border: 2px red;
    text-align: center;
}

button{
    align-items: center;
    cursor: pointer;
    padding: 10px 10px;
    background: transparent;
    border: none;
}
select{
    text-align: center;
}

.btnDiv{
    text-align: center;
}