.markIcon {
    align-items: center;
    align-content: center;
    display: inline-block;
    font-size: 25px;
}
.title {
    max-width: 80%;
    margin: 5px auto;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 2rem;
    padding: 6px 8px;
    text-align: left;
}
.text{
    margin-left: 20px;
}

.delBtn {
    float: right;
    margin: 0;
    background: transparent;
    border: none;
}

.strikeThrough {
    text-decoration: line-through;
    animation: strike 0.5s linear;
}
@keyframes strike {
    from {
        text-decoration-color: transparent;
    }
    to {
        text-decoration-color: auto;
    }
}


@media (min-width: 768px) {
    .title {
        max-width: 40%;
        margin: 10px auto;
    }
}
